<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.upiicsa.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>com.upiicsa.servlet.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>com.upiicsa.servlet.Dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.upiicsa.servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNote</servlet-name>
        <servlet-class>com.upiicsa.servlet.AddNote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateNote</servlet-name>
        <servlet-class>com.upiicsa.servlet.UpdateNote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteNote</servlet-name>
        <servlet-class>com.upiicsa.servlet.DeleteNote</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/Dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNote</servlet-name>
        <url-pattern>/AddNote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateNote</servlet-name>
        <url-pattern>/UpdateNote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteNote</servlet-name>
        <url-pattern>/DeleteNote</url-pattern>
    </servlet-mapping>
</web-app>
